<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Code Repository Search</title>
</head>
<body>
<div class="form-container">
    <h1>Code Repository Search</h1>
    <form action="#" th:action="@{/search}" method="post">
        <label for="username">GitHub Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="token">GitHub Personal Access Token (optional):</label>
        <input type="text" id="token" name="token">
        <button type="submit">Search</button>
    </form>
    <div th:if="${error}">
        <p th:text="${error}" style="color:red;"></p>
    </div>
</div>
</body>
</html>
